<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    Akash Dashboard
  </title>
  <!-- Favicon -->
  <link href="./assets/img/online-payment.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="./assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="./assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="./assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
</head>

<body class="">
  <%- include('./partials/navbar'); -%>
  <div class="main-content">
    <!-- Navbar -->
    <%- include('./partials/header'); -%>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Balance</h5>
                      <span class="h2 font-weight-bold mb-0"><%= balance %></span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <span style="font-weight: bold">৳</span>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Reward</h5>
                      <span class="h2 font-weight-bold mb-0"><%= reward %></span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-trophy"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                    <span class="text-nowrap">Since yesterday</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Limit Reached</h5>
                      <span class="h2 font-weight-bold mb-0"><%= limit %>%</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="row mt-5">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">History</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Type</th>
                    <th scope="col">Txn ID</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      shakil@email.com
                    </th>
                    <td>
                      Money Transfer
                    </td>
                    <td>
                      u4eFGv76
                    </td>
                    <td>
                      <i class="fas fa-arrow-down text-warning mr-3"></i> 1000
                    </td>
                    <td>
                      13/07/19
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Teletalk
                    </th>
                    <td>
                      Mobile TopUp
                    </td>
                    <td>
                      3Rd19rR5
                    </td>
                    <td>
                      <i class="fas fa-arrow-down text-warning mr-3"></i> 50
                    </td>
                    <td>
                      03/07/19
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Sheba Stationary
                    </th>
                    <td>
                      Money In
                    </td>
                    <td>
                      2f9Rd4gH
                    </td>
                    <td>
                      <i class="fas fa-arrow-up text-success mr-3"></i> 5000
                    </td>
                    <td>
                      13/05/19
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Google Play
                    </th>
                    <td>
                      Payment
                    </td>
                    <td>
                      9Z4Yj7tF
                    </td>
                    <td>
                      <i class="fas fa-arrow-down text-danger mr-3"></i> 99
                    </td>
                    <td>
                      21/06/19
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Minder
                    </th>
                    <td>
                      Reward
                    </td>
                    <td>
                      1Dc9Re0T
                    </td>
                    <td>
                      <i class="fas fa-arrow-up text-success mr-3"></i> 115
                    </td>
                    <td>
                      19/05/19
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <%- include('./partials/footer'); -%>
    </div>
  </div>
  <!--   Core   -->
  <script src="./assets/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="./assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!--   Optional JS   -->
  <script src="./assets/js/plugins/chart.js/dist/Chart.min.js"></script>
  <script src="./assets/js/plugins/chart.js/dist/Chart.extension.js"></script>
  <!--   Argon JS   -->
  <script src="./assets/js/argon-dashboard.min.js?v=1.1.0"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
</body>

</html>